@{
    ViewData["Title"] = "Import Directories From File System";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Directories" asp-action="ImportPath" method="post">
    <div class="form-group">
        <label for="path">Path to Import:</label>
        <input type="text" class="form-control" id="path" name="path" required />
    </div>
    <button type="submit" class="btn btn-primary">Import Path</button>
</form>
<br>
<form asp-controller="Directories" asp-action="ImportFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose JSON file to upload:</label>
        <input type="file" id="file" name="file" accept=".json" required />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
<br>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
        <br>
    </div>
}