@{
    ViewData["Title"] = "Directory Structure App";
}

<h2>Choose your action</h2>

<a href="@Url.Action("View", "Directories")" class="btn btn-primary">See directories</a>
<a href="@Url.Action("Import", "Directories")" class="btn btn-secondary">Import directories from file system</a>
